VITE_APP_NAME=Osoul Insurance Brokerage
VITE_APP_URL=http://localhost:5173
VITE_CONTACT_EMAIL=Rania@osoulinsurance.com
VITE_CONTACT_EMAIL_SECONDARY=Mohamed@osoulinsurance.com
VITE_CONTACT_PHONE=+201115-666-387
VITE_CONTACT_PHONE_SECONDARY=+201150-85-85-85
